.mainHeader {
  display: flex;
  background-color: #ADD528;
  justify-content: space-between;
  font-size: 5rem;
  font-family: 'Spicy Rice', sans-serif;
  color: #FFFF;
}
.envFact {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: black;
  margin-bottom: 0;
}
.envFactBody {
  margin-top: .25rem;
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color:#ffff;
}
.itemEntry {
  margin-left: .5rem;
  display: flex;
  justify-content:left;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color:#ffff;
}
.itemEntryTitle {
  margin-left: .5rem;
  display: flex;
  justify-content:left;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color:#ffff;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.calcButton {
  font-family: 'Spicy Rice', sans-serif;
  background-color: #ADD528;
  cursor: pointer;
}
.resultsH2 {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 0;
  
}
.resultsH1 {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 3.5rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 0;
  padding-top:0rem;
}
.resultsH3 {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: black;
  margin-bottom: 0;
}
.recycleLogo {
  padding-top: .5rem;
  padding-left: .5rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}
.profilePhoto {
  padding-top: .5rem;
  padding-right: .5rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}
.imgDiv {
  display: flex;
  justify-content: center;
}  
ol{
  display:flexbox;
  margin: 0px;
  border: 1px solid black;
  background-color: #ADD528;
  max-width: max-content;
  
}
.bigDiv {
  display: inline-flex;
}
.itemEntry {
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}
.itemList {
  display:inline-flex;
  color: black;

}
.i {
  padding-right: .5rem;
  padding-left: .5rem;
}
.totalComp {
  padding-left: .5rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
}
body {
  background-color: #04A4FC;
} 
img { 
  padding-top: 1rem; 
  width: 50%;
  max-width: 400px;
  height: auto;
}