.mainHeader {
  display: flex;
  background-color: #ADD528;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Spicy Rice', sans-serif;
  color: #FFFF;
}
.envFact {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: black;
  margin-bottom: 0;
}
.envFactBody {
  margin-top: .25rem;
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color:#ffff;
}
.itemEntry {
  margin-left: .5rem;
  display: flex;
  justify-content:left;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color:#ffff;
}
.itemEntryTitle {
  margin-left: .5rem;
  display: flex;
  justify-content:left;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color:#ffff;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.calcButton {
  font-family: 'Spicy Rice', sans-serif;
  background-color: #ADD528;
}
.resultsH2 {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 0;
  
}
.resultsH1 {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 3.5rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 0;
}
.resultsH3 {
  display: flex;
  justify-content:center;
  font-family: 'Spicy Rice', sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: black;
  margin-bottom: 0;
}
body {
  background-color: #04A4FC;
}
.imgDiv {
  display: flex;
  justify-content: center;
}   
img {  
  width: 50%;
  max-width: 400px;
  height: auto;
}
